* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

.container {
  width: 1320px;
  margin: 0px auto;
  padding: 0px 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -16px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-padding {
  padding: 0px 8px;
}

/* common class */
.d-flex {
  display: flex;
}

.alin-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.justify-between{
  justify-content: space-between;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn{
  padding: 1.8rem;
  border-radius: 5px;
  outline: none;
}

.calculator {
  width: 300px;
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.display {
  margin-bottom: 20px;
  text-align: right;
  border-radius: 10px;
  overflow: hidden;
}

.scroll-bar::-webkit-scrollbar{
  width: 0px;
}

.input {
  font-size: 24px;
  width: 100%;
  height: 50px;
  padding: 0.3em;
  border-radius: 5px;
}
.scroll-bar{
  background-color: #e6e6e6;
  overflow-x: scroll;
  padding: 0.3em;
}

.result {
  font-size: 32px;
  height: 40px;
  color: #007bff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.clear {
  grid-column: span 4;
  background-color: #dc3545;
}

.clear:hover {
  background-color: #c82333;
}
